.container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100px 710px;
    grid-template-areas:
   "h h h h h h h h h h"
   "m m c c c c c c c c"
   "f f f f f f f f f f";
}

.header {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: bold;

  color: #000000;
  background-color: #ccddce;

  display: flex;

  align-items: center;
  justify-content: center;
  grid-area: h;
}

.menu {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-indent: 20px;
  line-height: 50px;

  color: #000000;
  background-color: #d9eadb;

  display: flex;

  align-items: center;
  justify-content: center;
  grid-area: m;
}

.main {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  line-height: 35px;

  color: #000000;
  background-color: #e0f0e2;
  background-image:  url(file:/Users/marykelechsaeva/Documents/GitHub/hseadc2018-grids/SVG);

  display: flex;

  align-items: center;
  justify-content: center;
  grid-area: c;
}



@media screen and (max-width: 320px) {
    .container {
        grid-template-areas:
            "m h h h h h h h h h"
            "c c c c c c c c c c"
            "f f f f f f f f f f";
            display: flex;
            justify-content: space-around;
            align-items: center;

    }
}
